In [3]:
#string
name = 'abhishek'

In [34]:
name

'noman'

In [5]:
number=2

In [6]:
number

2

In [8]:
name='noman'

In [9]:
name

'noman'

In [10]:
float1=3.5

In [11]:
float1

3.5

In [12]:
number

2

In [16]:
number=float(number)

In [17]:
number

2.0

In [21]:
string='noman is a student'

In [22]:
string[2]

'm'

In [30]:
string[0:8:2]

'nmni'

In [41]:
#f literal
name='noman'
num=5
print(f'{name} is a student and his number is {num}')

(name) is a student and his number is {num}

In [38]:
#string concatenation
name='noman'

print(name + ' is a student')

noman is a student

In [54]:
#.format method
string='{0} is a student and his number is {2} and his class is {1}'

string.format('noman',5,'3rd year')

'noman is a student and his number is 3rd year and his class is 5'

In [55]:
'''list
dictionary
tuple
sets'''

In [1]:
first_list=[1,2,3,4,5,5.4,"abhishek"]

In [2]:
first_list

[1, 2, 3, 4, 5, 5.4, 'abhishek']

In [3]:
len(first_list)

7

In [9]:
#grabbing last element
first_list[-1]

'abhishek'

In [10]:
#grabbing first element
first_list[0]

1

In [18]:
#last element not included
first_list[3:-1]

[4, 5, 5.4]

In [26]:
first_list[1:5:2]

[2, 4]

In [27]:
lst=[1,2,3,4,5,6,7,8]

In [28]:
lst[0:5]

[1, 2, 3, 4, 5]

In [37]:
lst[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
name_of_list=lst+['noman']

In [41]:
name_of_list

[1, 2, 3, 4, 5, 6, 7, 8, 'noman']

In [47]:
name='noman'

In [48]:
name

'noman'

In [52]:
var=lst*2

In [51]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
var

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
lst=[1,2,3]

In [55]:
lst

[1, 2, 3]

In [56]:
lst.append(4)

In [57]:
lst

[1, 2, 3, 4]

In [58]:
lst.append('noman')

In [59]:
lst

[1, 2, 3, 4, 'noman']

In [61]:
lst.pop()

'noman'

In [62]:
lst

[1, 2, 3, 4]

In [63]:
lst.pop(2)

3

In [64]:
lst

[1, 2, 4]

In [65]:
lst.insert(2,5)

In [66]:
lst

[1, 2, 5, 4]

In [68]:
lst.insert(3,'noman')

In [80]:
lst

[1, 2, 5, 'noman', 4]

In [77]:
lst[::-1]

[1, 2, 5, 'noman', 4]

In [82]:
#list methods
lst.reverse()

In [83]:
lst

[4, 'noman', 5, 2, 1]

In [84]:
lst=[8,5,7,4,2,48,9,1]

In [85]:
lst.sort()

In [86]:
lst

[1, 2, 4, 5, 7, 8, 9, 48]

In [87]:
#nesting means something inside something

In [88]:
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

In [89]:
matrix=[lst1,lst2,lst3]

In [90]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [91]:
matrix[1][1]

5

In [92]:
#dictionary starts here

In [100]:
my_dict = {'key1':123, 'key2':[1,2,3], 'key3':['cat','dog','rat']}

In [108]:
del(my_dict['key2'][1])

In [109]:
my_dict

{'key1': 123, 'key2': [1, 3], 'key3': ['cat', 'dog', 'rat']}

In [116]:
my_dict['key3'][2]

'rat'

In [115]:
my_dict['key3'][2].upper()

'RAT'

In [117]:
d={}

In [118]:
#entering values in dictionary via assignment
d['animal']='dog'

In [119]:
d

{'animal': 'dog'}

In [120]:
d['some number']= 88

In [121]:
d

{'animal': 'dog', 'some number': 88}

In [122]:
dicts= {'key1':{'nestkey':{'subnestkey':'value'}}}

In [126]:
dicts['key1']['nestkey']['subnestkey']

'value'

In [127]:
#methods in dictionary

In [129]:
dicts.keys()

dict_keys(['key1'])

In [130]:
dicts.values()

dict_values([{'nestkey': {'subnestkey': 'value'}}])

In [131]:
dicts.items()

dict_items([('key1', {'nestkey': {'subnestkey': 'value'}})])

In [132]:
my_dict.items()

dict_items([('key1', 123), ('key2', [1, 3]), ('key3', ['cat', 'dog', 'rat'])])

In [133]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [134]:
my_dict.values()

dict_values([123, [1, 3], ['cat', 'dog', 'rat']])

In [1]:
#tuples start here

In [2]:
'''
list = []
dictionary = {}
tuples = ()
'''

'\nlist = []\ndictionary = {}\ntuples = ()\n'

In [3]:
name='noman'

In [4]:
name

'noman'

In [5]:
name='abhishek'

In [6]:
name

'abhishek'

In [11]:
t = (1,2,3)

In [12]:
t

(1, 2, 3)

In [8]:
len(t)

3

In [24]:
t = ('abhishek',2,'abhishek',3)

In [25]:
t

('abhishek', 2, 'abhishek', 3)

In [20]:
t[::-1]

(3, 2, 'abhishek')

In [21]:
t[-1]

3

In [22]:
t.index('abhishek')

0

In [26]:
t.count('abhishek')

2

In [27]:
t[0]='noman'

TypeError: 'tuple' object does not support item assignment

In [28]:
t.append('noman')

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
lst=['abhishek',2,3]

In [30]:
lst[0]='noman'

In [31]:
lst

['noman', 2, 3]

In [32]:
lst.append('abhishek')

In [33]:
lst

['noman', 2, 3, 'abhishek']

In [34]:
#again refreshing methods of list

In [46]:
lst1=[1,2,3]

In [47]:
lst2=[4,5,6]

In [44]:
lst1.append(lst2)

In [45]:
lst1

[1, 2, 3, [4, 5, 6]]

In [48]:
lst1.extend(lst2)

In [49]:
lst1

[1, 2, 3, 4, 5, 6]

In [53]:
#when you want to remove exactly a value not by index but directly
lst1.remove(5)

In [54]:
lst1

[1, 2, 3, 4, 6]

In [64]:
lst=[1,2,3,4,5,6,5,6,5,7]

In [67]:
lst.remove(5)

In [68]:
lst

[1, 2, 3, 4, 6, 6, 5, 7]

In [69]:
#sets starts here

In [70]:
num = set()

In [71]:
num.add(5)

In [72]:
num

{5}

In [73]:
num.add(2)

In [74]:
num

{2, 5}

In [75]:
lst=[1,2,3,5,8,5,5,7,8,6,48,6,8]

In [76]:
lst

[1, 2, 3, 5, 8, 5, 5, 7, 8, 6, 48, 6, 8]

In [77]:
#set method arranges something in order with avoiding repetitions
set(lst)

{1, 2, 3, 5, 6, 7, 8, 48}

In [ ]:
#booleans start here

In [78]:
True

True

In [79]:
False

False

In [96]:
1>2

False

In [97]:
2<1

False

In [98]:
2==2

True

In [ ]:
#numbers

In [82]:
5*2/(8+2)

1.0

In [ ]:
BODMAS

PEMDAS = Parenthesis Exponent Multiply Division Addition Subtraction

In [83]:
5*2

10

In [86]:
3/6

0.5

In [91]:
8/3

2.6666666666666665

In [92]:
#converts decimal value into whole
8//3

2

In [94]:
2**4

16

In [102]:
name=='noman'

True

In [100]:
name

'noman'

In [103]:
# = assignment operator
# == equals to

In [104]:
from random import randint

In [112]:
randint(1,10)

6

In [ ]:
#notebook ends here