In [3]:
#string
name = 'abhishek'

In [34]:
name

'noman'

In [5]:
number=2

In [6]:
number

2

In [8]:
name='noman'

In [9]:
name

'noman'

In [10]:
float1=3.5

In [11]:
float1

3.5

In [12]:
number

2

In [16]:
number=float(number)

In [17]:
number

2.0

In [21]:
string='noman is a student'

In [22]:
string[2]

'm'

In [30]:
string[0:8:2]

'nmni'

In [41]:
#f literal
name='noman'
num=5
print(f'{name} is a student and his number is {num}')

(name) is a student and his number is {num}

In [38]:
#string concatenation
name='noman'

print(name + ' is a student')

noman is a student

In [54]:
#.format method
string='{0} is a student and his number is {2} and his class is {1}'

string.format('noman',5,'3rd year')

'noman is a student and his number is 3rd year and his class is 5'

In [55]:
'''list
dictionary
tuple
sets'''